<div th:fragment="sidePersonInfo" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="col-md-3 col-md-offset-1">
        <div class="card my-4" style='background-color: #fff;'>
            <div class="personinfo" th:id="personInfoCard">
                <div class="personcard" style="overflow: hidden;">
                    <!--<img src="/images/avatar-defualt.jpg" th:src="${homeUser.avatarUrl}"-->
                    <!--style="width: 200px;height: 200px;border-radius: 100%;"/>-->

                    <div class="small-12 medium-2 large-2 columns">
                        <div class="circle">
                            <!-- User Profile Image -->
                            <img class="profile-pic" style="width: 200px;height: 200px;border-radius: 100%;"
                                 th:src="${homeUser.avatarUrl}"/>

                            <!-- Default Image -->
                            <!-- <i class="fa fa-user fa-5x"></i> -->
                        </div>
                        <div th:if="${user.userId} == ${homeUser.userId}" class="p-image">
                            <i class="fa fa-camera upload-button"></i>
                            <div id="changeAvatar" style="margin-right: -75px;display: none"><span>更改头像</span></div>
                            <input id="upload" style="display: none" class="file-upload" type="file" accept="image/*"/>
                        </div>
                    </div>

                    <h3 th:text="${homeUser.username}">caizhenya</h3>
                    <p>个人简介：<span th:text="${homeUser.simpleDesc}"></span></p>
                    <!--<p>居住地：<span th:text="${homeUser.residencePlace}"></span></p>-->
                    <p>现从事：<span th:text="${homeUser.industry}"></span></p>
                    <p>教育经历：<span th:text="${homeUser.education}"></span></p>
                    <div style="margin: 24px 0;">
                        <a href="#" class="persona"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="persona"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="persona"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="persona"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div th:switch="${isLoginUser}">
                        <p th:case="'true'">
                            <button th:id="modify + '-' + ${homeUser.userId}" class="personbutton modifyBtn"
                                    th:type="button" style="width: 50%; float: left;"
                                    th:text="修改信息"/>
                            <button class="personbutton" style="width: 50%; float: right;" th:text="通知我"/>
                        </p>
                        <p th:case="'false'">
                            <button th:id="followHim + '-' + ${homeUser.userId}" class="personbutton followHimclass"
                                    style="width: 50%; float: left;"
                                    th:text="${homeUser.followStatus} == 1 ? '取消关注' : '关注他'"/>
                            <button class="personbutton" style="width: 50%; float: right;" th:text="通知我"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4" style='background-color: #fff;'>


            <div class="personinfo" th:id="personInfoCard">
                <div class="personcard" style="overflow: hidden;">

                    <div class="follow-info">
                        <div class="follow-people">
                            <div class="wrap">
                                <h4>
                                    <p>关注了</p>
                                    <p th:text="1111"></p>
                                </h4>
                                <h4>
                                    <p>关注者</p>
                                    <p th:text="11111"></p>
                                </h4>
                            </div>
                        </div>

                        <div class="follow-other" id="follow-other">
                            <ul>
                                <li>
                                    <a id="sidebar-following-topic" href="/profileFollowTopic/">
                                        <span>关注的话题</span>
                                        <span th:text="2222"></span>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar-following-question" href="/profileFollowQuestion/">
                                        <span>关注的问题</span>
                                        <span th:text="222"></span>
                                    </a>
                                </li>
                                <li>
                                    <a id="sidebar-following-collection"
                                       href="/profileFollowCollection/">
                                        <span>关注的收藏夹</span>
                                        <span th:text="23232"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="follow-info">-->
                    <!--<div class="follow-people">-->
                    <!--<div class="wrap">-->
                    <!--<div style="display:inline;">-->
                    <!--<h4>-->
                    <!--<p class="glyphicon label label-default" th:text="12333关注"></p>-->
                    <!--</h4>-->
                    <!--</div><br/>-->
                    <!--<div style="display:inline;">-->
                    <!--<h4>-->
                    <!--<span class="glyphicon label label-default" th:text="12333粉丝"></span>-->
                    <!--</h4>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>


        </div>
    </div>
</div>