<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>个人主页</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <!--<link href="http://localhost:8088/css/jquery.smartbox.css" rel="stylesheet"/>-->
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/sidePersonCard.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/jquery-ui.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>
    <link href="http://localhost:8088/css/questionDetail.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/askFrame.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/quill.snow.css" rel="stylesheet"/>

</head>

<body class="body-color">

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>
<div th:include="navigator :: delConfirm"></div>

<div th:include="floatingDiv :: floatingDiv"></div>
<div class="container">
    <div class="row">

        <!-- 左侧个人信息 -->
        <div th:include="user/sidePersonInfo :: sidePersonInfo"></div>

        <div class="col-md-7" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">

                    <ul class="nav nav-tabs">
                        <li role="presentation"><a th:href="@{'/userHome/activity/' + ${homeUser.userId}}">动态</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/question/' + ${homeUser.userId}}">问题</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/answer/' + ${homeUser.userId}}">回答</a>
                        </li>
                        <li role="presentation" class="active"><a
                                th:href="@{'/userHome/collection/' + ${homeUser.userId}}">收藏</a></li>
                        <li role="presentation"><a
                                th:href="@{'/userHome/followingQuestion/' + ${homeUser.userId}}">关注问题</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/followingUser/' + ${homeUser.userId}}">关注用户</a>
                        </li>
                        <li role="presentation"><a href="#">关注话题</a></li>
                    </ul>
                    <div class="tab-title" th:switch="${isLoginUser}">
                        <h4 th:if="${isLoginUser} == 'true'"><p class="glyphicon glyphicon-transfer"/> 我的<span
                                th:if="${answerCollectionList.size() != 0}"
                                th:text="${answerCollectionList.size() + '条'}"/>收藏
                        </h4>
                        <h4 th:if="${isLoginUser} == 'false'"><p class="glyphicon glyphicon-transfer"/>他的<span
                                th:if="${answerCollectionList.size() != 0}"
                                th:text="${answerCollectionList.size() + '条'}"/>收藏
                        </h4>
                    </div>

                    <!--底部提示信息-->
                    <div th:if="${answerCollectionList.size() == 0}" style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true'">你还没有收藏任何回答哦(⊙⊙！) &nbsp;</span>
                        <span>到<a th:href="@{/recommend}" target="_blank">这里</a>去看一看推荐的问题吧</span>
                        <span th:if="${isLoginUser} == 'false'">他还没有收藏任何回答(⊙⊙！) &nbsp;</span>
                    </div>
                    <div class="card mb-4" th:each="answer : ${answerCollectionList}">
                        <div class="card-block">
                            <h4 class="card-title text-dark" style="font-weight: bolder;">
                                <a th:href="@{'/question/' + ${answer.question.questionId}}" class="text-title"
                                   th:text="${answer.question.questionTitle}">
                                </a>
                            </h4>
                            <div class="card-title answer-meta">
                                <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                    <a th:href="@{'/userHome/activity/' + ${answer.user.userId}}" target="_blank">
                                        <img th:src="${answer.user.avatarUrl}" width="100%" height="100%"
                                             style="border-radius: 100%"/>
                                    </a>
                                </div>
                                <div style="margin-left: 55px">
                                    <h5>
                                        <a href="'/userHome/question/' + ${answer.user.userId}"
                                           th:href="@{'/userHome/question/' + ${answer.user.userId}}"
                                           class="card-link"
                                           th:text="${answer.user.username}" target="_blank">
                                        </a>&nbsp;
                                        <span th:text="${answer.user.position}"/>&nbsp;
                                        <span th:text="${answer.user.simpleDesc}"/>
                                    </h5>
                                </div>
                                &nbsp;<a th:href="@{'/userHome/question/' + ${answer.user.userId}}" target="_blank">
                                <span class="glyphicon glyphicon-user"></span>
                            </a><span th:text="${answer.user.username}"/>于
                                <span th:text="${#dates.format(answer.createTime, 'yyyy年MM月dd日HH:mm')}"/>回答了该问题

                                <h6 th:text="${answer.likedCount} + '人赞同了该回答'"></h6>
                            </div>

                            <div class="card-text">
                                <div class="foldContent" th:if="${answer.answerContent.length() lt 46}">
                                    <p class="card-text hideContent" th:utext="${answer.answerContent}"
                                       style="height: 20px"/>
                                </div>
                                <div class="foldContent" th:if="${answer.answerContent.length() gt 46}">
                                    <p class="card-text hideContent" th:utext="${answer.answerContent}"/>
                                </div>
                                <div class="show-more" th:if="${answer.answerContent.length() gt 92}">
                                    <p style="float:right;" class="moreContent">展开<span
                                            th:id="answerContentId+'-'+${answer.answerId}"
                                            class="glyphicon glyphicon-menu-down"></span></p>
                                </div>
                            </div>
                            <!--<p class="card-text" th:text="${answer.answerContent}"/>-->

                            <div th:id="answerId+'-'+${answer.answerId}" class="card-text">
                                <input id="isCollect" th:type="hidden" th:value="${answer.collectAnswer}"/>
                                <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                <input id="userVote" th:type="hidden" th:value="${answer.user.vote}"/>
                                <input id="upvoteCount" th:type="hidden" th:value="${answer.likedCount}"/>
                                <input id="downvoteCount" th:type="hidden" th:value="${answer.dislikedCount}"/>

                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span id="upvoteIcon" class="label label-primary"
                                      th:text="${answer.user.vote == 1} ? '已赞同'+ ${answer.likedCount} + '次' : '赞同'+ ${answer.likedCount} + '次' "></span>

                                <i class="glyphicon glyphicon-thumbs-down" th:href="@{downvote}"></i>
                                <span id="downvoteIcon" class="label label-primary"
                                      th:text="${answer.user.vote == -1} ? '已反对'+ ${answer.dislikedCount} + '次' : '反对'+ ${answer.dislikedCount} + '次' "></span>

                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-star"></i>
                                <span id="collectBtnValue"
                                      th:text="${answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>&nbsp;&nbsp;

                                <button class="btn btn-xs delBtn glyphicon glyphicon-trash"
                                        data-toggle="modal" data-target="#delConfirmModal">
                                    <!--<span class=""></span>-->
                                </button>
                            </div>
                        </div>
                        <hr color="#f8f8f8"/>
                    </div>
                    <div style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true' and ${answerCollectionList.size() != 0}">你只有这么多收藏了(๑¯ิε ¯ิ๑)</span>
                        <span th:if="${isLoginUser} == 'false' and ${answerCollectionList.size() != 0}">他只有这么多收藏了(๑¯ิε ¯ิ๑)</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<!--<script type="text/javascript" src="http://localhost:8088/js/jquery.smartbox.js"></script>-->
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/askFrame.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/quill.js"></script>

</body>
</html>

