<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>个人主页</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/jquery.smartbox.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/sidePersonCard.css"/>

    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>
    <link href="http://localhost:8088/css/askFrame.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/quill.snow.css" rel="stylesheet"/>

</head>

<body class="body-color">

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>


<div class="container">
    <div class="row">

        <!-- 左侧个人信息 -->
        <div th:include="user/sidePersonInfo :: sidePersonInfo"></div>

        <div class="col-md-7" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">

                    <ul class="nav nav-tabs">
                        <li role="presentation"><a th:href="@{'/userHome/activity/' + ${homeUser.userId}}">动态</a></li>
                        <li role="presentation"><a
                                th:href="@{'/userHome/question/' + ${homeUser.userId}}">问题</a></li>
                        <li role="presentation"><a
                                th:href="@{'/userHome/answer/' + ${homeUser.userId}}">回答</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/collection/' + ${homeUser.userId}}">收藏</a></li>
                        <li role="presentation" class="active"><a
                                th:href="@{'/userHome/followingQuestion/' + ${homeUser.userId}}">关注问题</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/followingUser/' + ${homeUser.userId}}">关注用户</a>
                        </li>
                        <li role="presentation"><a href="#">关注话题</a></li>
                    </ul>
                    <div class="tab-title" th:switch="${isLoginUser}">
                        <h4 th:if="${isLoginUser} == 'true'"><p class="glyphicon glyphicon-question-sign"/>我关注的<span
                                th:if="${questionList.size() != 0}" th:text="${questionList.size() + '个'}"/>问题
                        </h4>
                        <h4 th:if="${isLoginUser} == 'false'"><p class="glyphicon glyphicon-question-sign"/>他关注的<span
                                th:if="${questionList.size() != 0}" th:text="${questionList.size() + '个'}"/>问题
                        </h4>
                    </div>

                    <!--底部提示信息-->
                    <div th:if="${questionList.size() == 0}" style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true'">你还没有关注任何问题哦(⊙⊙！) &nbsp;</span>
                        <span th:if="${isLoginUser} == 'true'">到<a th:href="@{/recommend}">这里</a>去看一看推荐的问题吧</span>
                        <span th:if="${isLoginUser} == 'false'">他还没有关注任何问题(⊙⊙！) &nbsp;</span>
                    </div>
                    <div class="card mb-4" th:each="question : ${questionList}">
                        <div class="card-block border-dark">
                            <h4 class="card-title text-dark" style="font-weight: bolder;">
                                <a th:href="@{'/question/' + ${question.questionId}}" class="text-title"
                                   th:text="${question.questionTitle}">
                                </a>
                            </h4>
                            <p class="card-text" th:utext="${question.questionContent}">
                            </p>

                            <div class="card-text">
                                <a href="/userHome/question/${question.userId}"
                                   th:href="@{'/userHome/question/' + ${question.userId}}"
                                   class="card-link"
                                   th:text="${question.user.username}">waylau</a>
                                发表于<span th:text="${#dates.format(question.createTime, 'yyyy年MM月dd日HH:mm')}"></span>&nbsp;&nbsp;

                                <!--<i class="fa fa-eye" aria-hidden="true"> 浏览 <span-->
                                <!--th:text="${question.scanedCount} == null ? 1000 : ${question.scanedCount}"></span>次 </i>-->
                                <span class="glyphicon glyphicon-eye-open"></span>围观<span
                                    th:text="${question.scanedCount} == null ? 1000 : ${question.scanedCount}"></span>次&nbsp;&nbsp;

                                <i class="glyphicon glyphicon-apple" aria-hidden="true">关注<span
                                        th:text="${question.followedCount}"></span>人</i>&nbsp;&nbsp;

                                <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">回答<span
                                        th:text="${question.answerCount}"></span>条</i>
                            </div>
                            <hr color="#f8f8f8"/>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true' and ${questionList.size() != 0}">你只有这么多关注的问题了(๑¯ิε ¯ิ๑)</span>
                        <span th:if="${isLoginUser} == 'false' and ${questionList.size() != 0}">他只有这么多关注的问题了(๑¯ิε ¯ิ๑)</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery.smartbox.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/askFrame.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/quill.js"></script>

</body>
</html>

