<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>个人主页</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <!--<link href="http://localhost:8088/css/jquery.smartbox.css" rel="stylesheet"/>-->
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/sidePersonCard.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/jquery-ui.css"/>
    <link href="http://localhost:8088/css/questionDetail.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/askFrame.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/quill.snow.css" rel="stylesheet"/>

</head>

<body style='background-color: #f8f8f8;'>

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>
<div th:include="floatingDiv :: floatingDiv"></div>

<div class="container">
    <div class="row">

        <!-- 左侧个人信息 -->
        <div th:include="user/sidePersonInfo :: sidePersonInfo"></div>

        <div class="col-md-7" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a
                                th:href="@{'/userHome/activity/' + ${homeUser.userId}}">动态</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/question/' + ${homeUser.userId}}">问题</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/answer/' + ${homeUser.userId}}">回答</a></li>
                        <li role="presentation"><a th:href="@{'/userHome/collection/' + ${homeUser.userId}}">收藏</a></li>
                        <li role="presentation"><a
                                th:href="@{'/userHome/followingQuestion/' + ${homeUser.userId}}">关注问题</a></li>
                        <li role="presentation"><a
                                th:href="@{'/userHome/followingUser/' + ${homeUser.userId}}">关注用户</a></li>
                        <li role="presentation"><a href="#">关注话题</a></li>
                    </ul>
                    <div class="tab-title" th:switch="${isLoginUser}">
                        <h4 th:if="${isLoginUser} == 'true'"><p class="glyphicon glyphicon-pencil"/>我的<span
                                th:if="${activityList.size() != 0}" th:text="${activityList.size() + '条'}"/>动态
                        </h4>
                        <h4 th:if="${isLoginUser} == 'false'"><p class="glyphicon glyphicon-pencil"/>他的<span
                                th:if="${activityList.size() != 0}" th:text="${activityList.size() + '条'}"/>动态
                        </h4>
                    </div>

                    <!--底部提示信息-->
                    <div th:if="${activityList.size() == 0}" style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true'">你还没有任何动态哦(⊙⊙！) &nbsp;</span>
                        <span th:if="${isLoginUser} == 'true'">到<a th:href="@{/recommend}">这里</a>去看一看推荐的问题吧</span>
                        <span th:if="${isLoginUser} == 'false'">他还没有任何动态(⊙⊙！) &nbsp;</span>
                    </div>
                    <div th:each="activity : ${activityList}">
                        <div class="card mb-4">
                            <div th:switch="${activity.activityStaus}">

                                <!--Voting answer lists-->
                                <div th:case="1">
                                    <div class="card-block">
                                        <div class="tab-title">
                                            <h5><p class="glyphicon glyphicon-ok-circle"/> 赞同了回答
                                                <p th:text="${#dates.format(activity.createTime, 'yyyy年MM月dd日HH:mm:ss')}"
                                                   style="display: inline;margin-left: 401px;"/></h5>
                                        </div>
                                        <h4 class="card-title text-dark" style="font-weight: bolder;">
                                            <a th:href="@{'/question/' + ${activity.answer.question.questionId}}"
                                               class="text-title"
                                               th:text="${activity.answer.question.questionTitle}">
                                            </a>
                                        </h4>
                                        <div class="card-title answer-meta">
                                            <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                                <a th:href="@{'/userHome/activity/' + ${activity.answer.user.userId}}">
                                                    <img th:src="${activity.answer.user.avatarUrl}" width="100%"
                                                         height="100%"
                                                         style="border-radius: 100%"/>
                                                </a>
                                            </div>
                                            <div style="margin-left: 55px">
                                                <h5>
                                                    <a href="'/userHome/question/' + ${activity.answer.user.userId}"
                                                       th:href="@{'/userHome/question/' + ${activity.answer.user.userId}}"
                                                       class="card-link"
                                                       th:text="${activity.answer.user.username}">
                                                    </a>&nbsp;
                                                    <span th:text="${activity.answer.user.position}"/>&nbsp;
                                                    <span th:text="${activity.answer.user.simpleDesc}"/>
                                                </h5>
                                            </div>
                                            &nbsp;<a
                                                th:href="@{'/userHome/question/' + ${activity.answer.user.userId}}">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </a><span th:text="${activity.answer.user.username}"/>于
                                            <span th:text="${#dates.format(activity.answer.createTime, 'yyyy年MM月dd日HH:mm')}"/>
                                            回答了该问题

                                            <h6 th:text="${activity.answer.likedCount} + '人赞同了该回答'"></h6>
                                        </div>
                                        <p class="card-text" th:utext="${activity.answer.answerContent}"/>

                                        <div th:id="answerId+'-'+${activity.answer.answerId}" class="card-text">
                                            <input id="isCollect" th:type="hidden"
                                                   th:value="${activity.answer.collectAnswer}"/>
                                            <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                            <input id="userVote" th:type="hidden"
                                                   th:value="${activity.answer.user.vote}"/>
                                            <input id="upvoteCount" th:type="hidden"
                                                   th:value="${activity.answer.likedCount}"/>
                                            <input id="downvoteCount" th:type="hidden"
                                                   th:value="${activity.answer.dislikedCount}"/>

                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                            <span id="upvoteIcon" class="label label-primary"
                                                  th:text="${activity.answer.user.vote == 1} ? '已赞同'+ ${activity.answer.likedCount} + '次' : '赞同'+ ${activity.answer.likedCount} + '次' "></span>

                                            <i class="glyphicon glyphicon-thumbs-down" th:href="@{downvote}"></i>
                                            <span id="downvoteIcon" class="label label-primary"
                                                  th:text="${activity.answer.user.vote == -1} ? '已反对'+ ${activity.answer.dislikedCount} + '次' : '反对'+ ${activity.answer.dislikedCount} + '次' "></span>

                                            &nbsp;&nbsp;
                                            <i class="glyphicon glyphicon-star"></i>
                                            <span id="collectBtnValue"
                                                  th:text="${activity.answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>&nbsp;&nbsp;

                                            <!--<button class="btn btn-xs delBtn glyphicon glyphicon-trash"/>-->
                                        </div>
                                    </div>
                                </div>

                                <!--Write answer lists-->
                                <div th:case="2">
                                    <div class="card-block">
                                        <div class="tab-title">
                                            <h5><p class="glyphicon glyphicon-transfer"/> 回答了问题
                                                <p th:text="${#dates.format(activity.createTime, 'yyyy年MM月dd日HH:mm:ss')}"
                                                   style="display: inline;margin-left: 401px;"/></h5>
                                        </div>
                                        <h4 class="card-title text-dark" style="font-weight: bolder;">
                                            <a th:href="@{'/question/' + ${activity.answer.question.questionId}}"
                                               class="text-title"
                                               th:text="${activity.answer.question.questionTitle}">
                                            </a>
                                        </h4>
                                        <div class="card-title answer-meta">
                                            <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                                <a th:href="@{'/userHome/activity/' + ${activity.answer.user.userId}}">
                                                    <img th:src="${activity.answer.user.avatarUrl}" width="100%"
                                                         height="100%"
                                                         style="border-radius: 100%"/>
                                                </a>
                                            </div>
                                            <div style="margin-left: 55px">
                                                <h5>
                                                    <a href="'/userHome/activity/' + ${activity.answer.user.userId}"
                                                       th:href="@{'/userHome/activity/' + ${activity.answer.user.userId}}"
                                                       class="card-link"
                                                       th:text="${activity.answer.user.username}">
                                                    </a>&nbsp;
                                                    <span th:text="${activity.answer.user.position}"/>&nbsp;
                                                    <span th:text="${activity.answer.user.simpleDesc}"/>
                                                </h5>
                                            </div>
                                            &nbsp;<a
                                                th:href="@{'/userHome/question/' + ${activity.answer.user.userId}}">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </a><span th:text="${activity.answer.user.username}"/>于
                                            <span th:text="${#dates.format(activity.answer.createTime, 'yyyy年MM月dd日HH:mm:ss')}"/>
                                            回答了该问题

                                            <h6 th:text="${activity.answer.likedCount} + '人赞同了该回答'"></h6>
                                        </div>
                                        <p class="card-text" th:utext="${activity.answer.answerContent}"/>

                                        <div th:id="answerId+'-'+${activity.answer.answerId}" class="card-text">
                                            <input id="isCollect" th:type="hidden"
                                                   th:value="${activity.answer.collectAnswer}"/>
                                            <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                            <input id="userVote" th:type="hidden"
                                                   th:value="${activity.answer.user.vote}"/>
                                            <input id="upvoteCount" th:type="hidden"
                                                   th:value="${activity.answer.likedCount}"/>
                                            <input id="downvoteCount" th:type="hidden"
                                                   th:value="${activity.answer.dislikedCount}"/>

                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                            <span id="upvoteIcon" class="label label-primary"
                                                  th:text="${activity.answer.user.vote == 1} ? '已赞同'+ ${activity.answer.likedCount} + '次' : '赞同'+ ${activity.answer.likedCount} + '次' "></span>

                                            <i class="glyphicon glyphicon-thumbs-down" th:href="@{downvote}"></i>
                                            <span id="downvoteIcon" class="label label-primary"
                                                  th:text="${activity.answer.user.vote == -1} ? '已反对'+ ${activity.answer.dislikedCount} + '次' : '反对'+ ${activity.answer.dislikedCount} + '次' "></span>

                                            &nbsp;&nbsp;
                                            <i class="glyphicon glyphicon-star"></i>
                                            <span id="collectBtnValue"
                                                  th:text="${activity.answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>&nbsp;&nbsp;

                                            <!--<button class="btn btn-xs delBtn glyphicon glyphicon-trash"/>-->
                                        </div>
                                    </div>
                                </div>

                                <!--Collect answer lists-->
                                <div th:case="3">
                                    <div class="card-block">
                                        <div class="tab-title">
                                            <h5><p class="glyphicon glyphicon-ok-circle"/> 收藏了回答
                                                <p th:text="${#dates.format(activity.createTime, 'yyyy年MM月dd日HH:mm:ss')}"
                                                   style="display: inline;margin-left: 401px;"/></h5>
                                        </div>
                                        <h4 class="card-title text-dark" style="font-weight: bolder;">
                                            <a th:href="@{'/question/' + ${activity.answer.question.questionId}}"
                                               class="text-title"
                                               th:text="${activity.answer.question.questionTitle}">
                                            </a>
                                        </h4>
                                        <div class="card-title answer-meta">
                                            <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                                <a th:href="@{'/userHome/activity/' + ${activity.answer.user.userId}}">
                                                    <img th:src="${activity.answer.user.avatarUrl}" width="100%"
                                                         height="100%"
                                                         style="border-radius: 100%"/>
                                                </a>
                                            </div>
                                            <div style="margin-left: 55px">
                                                <h5>
                                                    <a href="'/userHome/activity/' + ${activity.answer.user.userId}"
                                                       th:href="@{'/userHome/activity/' + ${activity.answer.user.userId}}"
                                                       class="card-link"
                                                       th:text="${activity.answer.user.username}">
                                                    </a>&nbsp;
                                                    <span th:text="${activity.answer.user.position}"/>&nbsp;
                                                    <span th:text="${activity.answer.user.simpleDesc}"/>
                                                </h5>
                                            </div>
                                            &nbsp;<a
                                                th:href="@{'/userHome/question/' + ${activity.answer.user.userId}}">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </a><span th:text="${activity.answer.user.username}"/>于
                                            <span th:text="${#dates.format(activity.answer.createTime, 'yyyy年MM月dd日HH:mm:ss')}"/>
                                            回答了该问题

                                            <h6 th:text="${activity.answer.likedCount} + '人赞同了该回答'"></h6>
                                        </div>
                                        <p class="card-text" th:utext="${activity.answer.answerContent}"/>

                                        <div th:id="answerId+'-'+${activity.answer.answerId}" class="card-text">
                                            <input id="isCollect" th:type="hidden"
                                                   th:value="${activity.answer.collectAnswer}"/>
                                            <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                            <input id="userVote" th:type="hidden"
                                                   th:value="${activity.answer.user.vote}"/>
                                            <input id="upvoteCount" th:type="hidden"
                                                   th:value="${activity.answer.likedCount}"/>
                                            <input id="downvoteCount" th:type="hidden"
                                                   th:value="${activity.answer.dislikedCount}"/>

                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                            <span id="upvoteIcon" class="label label-primary"
                                                  th:text="${activity.answer.user.vote == 1} ? '已赞同'+ ${activity.answer.likedCount} + '次' : '赞同'+ ${activity.answer.likedCount} + '次' "></span>

                                            <i class="glyphicon glyphicon-thumbs-down" th:href="@{downvote}"></i>
                                            <span id="downvoteIcon" class="label label-primary"
                                                  th:text="${activity.answer.user.vote == -1} ? '已反对'+ ${activity.answer.dislikedCount} + '次' : '反对'+ ${activity.answer.dislikedCount} + '次' "></span>

                                            &nbsp;&nbsp;
                                            <i class="glyphicon glyphicon-star"></i>
                                            <span id="collectBtnValue"
                                                  th:text="${activity.answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>&nbsp;&nbsp;

                                            <!--<button class="btn btn-xs delBtn glyphicon glyphicon-trash"/>-->
                                        </div>
                                    </div>
                                </div>

                                <!--Following question lists-->
                                <div th:case="4">
                                    <div class="card-block border-dark">
                                        <div class="tab-title">
                                            <h5><p class="glyphicon glyphicon-eye-open"/> 关注了问题
                                                <p th:text="${#dates.format(activity.createTime, 'yyyy年MM月dd日HH:mm:ss')}"
                                                   style="display: inline;margin-left: 401px;"/></h5>
                                        </div>

                                        <h4 class="card-title text-dark" style="font-weight: bolder;">
                                            <a th:href="@{'/question/' + ${activity.answer.question.questionId}}"
                                               class="text-title"
                                               th:text="${activity.answer.question.questionTitle}">
                                            </a>
                                        </h4>
                                        <p class="card-text" th:text="${activity.answer.question.questionContent}"/>

                                        <div class="card-text">
                                            <a href="/userHome/activity/${activity.answer.question.userId}"
                                               th:href="@{'/userHome/activity/' + ${activity.answer.question.userId}}"
                                               class="card-link" th:text="${activity.answer.user.username}"/>
                                            发表于<span
                                                th:text="${#dates.format(activity.answer.question.createTime, 'yyyy年MM月dd日HH:mm:ss')}"></span>&nbsp;&nbsp;

                                            <span class="glyphicon glyphicon-eye-open"></span>围观<span
                                                th:text="${activity.answer.question.scanedCount} == null ? 1000 : ${activity.answer.question.scanedCount}"></span>次&nbsp;&nbsp;

                                            <i class="glyphicon glyphicon-apple" aria-hidden="true">关注<span
                                                    th:text="${activity.answer.question.followedCount}"></span>人</i>&nbsp;&nbsp;

                                            <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">回答<span
                                                    th:text="${activity.answer.question.answerCount}"></span>条</i>
                                        </div>
                                    </div>
                                </div>


                                <!--Raised question lists-->
                                <div th:case="5">
                                    <div class="card-block border-dark">
                                        <div class="tab-title">
                                            <h5><p class="glyphicon glyphicon-send"/> 发布了问题
                                                <p th:text="${#dates.format(activity.createTime, 'yyyy年MM月dd日HH:mm:ss')}"
                                                   style="display: inline;margin-left: 401px;"/></h5>
                                        </div>
                                        <h4 class="card-title text-dark" style="font-weight: bolder;">
                                            <a th:href="@{'/question/' + ${activity.answer.question.questionId}}"
                                               class="text-title"
                                               th:text="${activity.answer.question.questionTitle}">
                                            </a>
                                        </h4>
                                        <div class="card-text">
                                            <p class="card-text" th:text="${activity.answer.question.questionContent}"/>
                                        </div>
                                        <div class="card-text">
                                            <a href="/userHome/activity/${activity.answer.question.userId}"
                                               th:href="@{'/userHome/activity/' + ${activity.answer.question.userId}}"
                                               class="card-link"
                                               th:text="${activity.answer.user.username}"></a>

                                            发表于<span
                                                th:text="${#dates.format(activity.answer.question.createTime, 'yyyy年MM月dd日HH:mm:ss')}"></span>&nbsp;&nbsp;

                                            <span class="glyphicon glyphicon-eye-open"></span>围观<span
                                                th:text="${activity.answer.question.scanedCount} == null ? 1000 : ${activity.answer.question.scanedCount}"></span>次&nbsp;&nbsp;

                                            <i class="glyphicon glyphicon-apple" aria-hidden="true">关注<span
                                                    th:text="${activity.answer.question.followedCount}"></span>人</i>&nbsp;&nbsp;

                                            <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">回答<span
                                                    th:text="${activity.answer.question.answerCount}"></span>条</i>
                                        </div>
                                    </div>
                                </div>

                                <!--Follow user lists-->
                                <div th:case="6">
                                    <div class="card-block">
                                        <div class="tab-title">
                                            <h5><p class="glyphicon glyphicon-send"/> 关注了用户
                                                <p th:text="${#dates.format(activity.createTime, 'yyyy年MM月dd日HH:mm:ss')}"
                                                   style="display: inline;margin-left: 401px;"/></h5>
                                        </div>
                                        <div class="card-title answer-meta">
                                            <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                                <a th:href="@{'/userHome/activity/' + ${activity.answer.user.userId}}">
                                                    <img th:src="${activity.answer.user.avatarUrl}" width="100%"
                                                         height="100%"
                                                         style="border-radius: 100%"/>
                                                </a>
                                            </div>
                                            <div style="margin-left: 55px">
                                                <h5>
                                                    <a href="'/userHome/question/' + ${activity.answer.user.userId}"
                                                       th:href="@{'/userHome/question/' + ${activity.answer.user.userId}}"
                                                       class="card-link"
                                                       th:text="${activity.answer.user.username}">
                                                    </a>&nbsp;
                                                    <span th:text="${activity.answer.user.position}"/>&nbsp;
                                                    <span th:text="${activity.answer.user.simpleDesc}"/>
                                                    <span th:id="userId + '-' + ${activity.answer.user.userId}"
                                                          class="glyphicon label label-primary followUser"
                                                          style="float:right"
                                                          th:text="${activity.answer.user.followStatus == 1} ? '取消关注' : '关注答主'">关注答主</span>
                                                </h5>
                                            </div>
                                            <div style="margin-left: 55px">&nbsp;
                                                <span th:text="'回答' + ${activity.answer.user.likedCount} + '条'"></span>
                                                <span class="vertical-line"
                                                      style="width: px; height: 15px;border: 2px inset;"/>

                                                <span th:text="'关注' + ${activity.answer.user.followCount} + '人'"></span>
                                                <span class="vertical-line"
                                                      style="width: 1px; height: 15px;border: 2px inset;"/>

                                                <span th:text="'被关注量' + ${activity.answer.user.followedCount}"></span>
                                                <span class="vertical-line"
                                                      style="width: 1px; height: 15px;border: 2px inset;"/>
                                            </div>
                                        </div>
                                        <hr color="#f8f8f8"/>
                                    </div>
                                </div>

                            </div>
                            <hr color="#f8f8f8"/>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true' and ${activityList.size() != 0}">你只有这么多动态了(๑¯ิε ¯ิ๑)</span>
                        <span th:if="${isLoginUser} == 'false' and ${activityList.size() != 0}">他只有这么多动态了(๑¯ิε ¯ิ๑)</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

</script>

<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<!--<script type="text/javascript" src="http://localhost:8088/js/jquery.smartbox.js"></script>-->
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/askFrame.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/quill.js"></script>

</body>
</html>

