<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>


    <title>AnswerPedia</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/jquery-ui.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>
    <link href="http://localhost:8088/css/questionDetail.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/sidePersonCard.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/askFrame.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/quill.snow.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/notification.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/notification.css" rel="stylesheet"/>

</head>
<body>

<div th:include="navigator :: nav"></div>
<div th:include="navigator :: ask"></div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <p><h4 style="margin-left: 15px;"></h4></p>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a
                                th:href="@{/notification/user}">用户消息</a></li>
                        <li role="presentation"><a
                                th:href="@{/notification/sys}">系统消息</a></li>
                    </ul>


                    <div th:id="noti-sys" class="card mb-4">
                        <div th:each="day : ${dayList}" th:if="${not #lists.isEmpty(day.messageList)}"
                             class="card-block border-dark day">
                            <div>
                                <span th:text="${#dates.format(day.date, 'yyyy-MM-dd')}"/>
                            </div>
                            <div th:each="message : ${day.messageList}" class="card-title text-dark">
                                <span th:utext="${message.messageContent}"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input id="loadSysMore" type="button" class="btn btn-default" value="加载更多" data-value="0"/>
                        <span id="hiddenType" th:text="${type}" style="display: none;"/>
                        <span id="hiddenTotalCount" th:text="${hiddenTotalCount}" style="display: none;"/>
                        <span id="hiddenCurrCount" th:text="${hiddenCurrCount}" style="display: none;"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <!-- 热门问题 根据关注量排序-->
            <div class="card my-4" style='background-color: #fff;padding: 6px;'>
                <div>
                    <span>通知</span>
                    <ul class="list-group">
                        <li class="list-group-item list-item"><a th:href="@{/notification}">所有通知</a></li>
                    </ul>
                </div>
                <div>
                    <span>
                        过滤器
                     </span>
                </div>

                <div>
                    <ul class="list-group">
                        <li class="list-group-item list-item"><a th:href="@{/notification/user?type=1}">问题</a>
                        </li>
                        <li class="list-group-item list-item"><a th:href="@{/notification/user?type=2}">回答</a>
                        </li>
                        <li class="list-group-item list-item"><a th:href="@{/notification/user?type=3}">评论</a>
                        </li>
                        <li class="list-group-item list-item"><a th:href="@{/notification/user?type=4}">关注</a>
                        </li>
                        <li class="list-group-item list-item"><a th:href="@{/notification/user?type=5}">赞同</a>
                        </li>
                        <li class="list-group-item list-item"><a th:href="@{/notification}">其它</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <span>我的爱好</span>
                    <ul class="list-group">
                        <li class="list-group-item list-item"><a
                                th:href="@{/notification}">我的收藏</a></li>
                        <li class="list-group-item list-item"><a th:href="@{/notification}">邀请我回答的问题</a>
                        </li>
                        <li class="list-group-item list-item"><a
                                th:href="@{/notification}">我的关注</a></li>
                    </ul>
                </div>
            </div>
            <br/>
            <!-- 热门用户 根据关注量排序-->

            <br/>

        </div>

    </div>
</div>

<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/notify.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/popper.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/askFrame.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/quill.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/notification.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/moment.js"></script>

</body>
</html>