<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>个人主页</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <!--<link href="http://localhost:8088/css/jquery.smartbox.css" rel="stylesheet"/>-->
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8088/css/sidePersonCard.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>

</head>

<body style='background-color: #f8f8f8;'>

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>


<div class="container">
    <div class="row">

        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <p><h4 style="margin-left: 15px;">搜索结果</h4></p>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a
                                th:href="@{'/search'(keyword=${keyword}, type=question)}">问题</a></li>
                        <li role="presentation"><a
                                th:href="@{'/search'(keyword=${keyword}, type=answer)}">回答</a></li>
                        <li role="presentation"><a th:href="@{'/search'(keyword=${keyword}, type=user)}">用户</a></li>
                        <li role="presentation"><a th:href="@{'/search'(keyword=${keyword}, type=topic)}">话题</a></li>
                    </ul>


                    <!--底部提示信息-->
                    <div th:if="${searchQuestionList.size() == 0}" style="margin: 100px;">
                        <div style="text-align: center;">
                            <span style="font-size: large;">暂无任何搜索结果(⊙⊙！）</span>
                        </div>
                    </div>

                    <div class="card mb-4" th:each="question : ${searchQuestionList}">
                        <div class="card-block border-dark">
                            <h4 class="card-title text-dark" style="font-weight: bolder;">
                                <a th:href="@{'/question/' + ${question.questionId}}" class="text-title"
                                   th:text="${question.questionTitle}">
                                </a>
                            </h4>
                            <div class="card-title text-dark">
                                <p class="card-text " th:text="${question.questionContent}"/>
                            </div>

                            <div class="card-text">
                                <a href="/userHome/question/${question.userId}"
                                   th:href="@{'/userHome/question/' + ${question.userId}}"
                                   class="card-link"
                                   th:text="${question.user.username}">waylau</a>
                                发表于<span th:text="${#dates.format(question.createTime, 'yyyy年MM月dd日HH:mm')}"></span>&nbsp;&nbsp;

                                <span class="glyphicon glyphicon-eye-open"></span>围观<span
                                    th:text="${question.scanedCount} == null ? 1000 : ${question.scanedCount}"></span>次&nbsp;&nbsp;

                                <i class="glyphicon glyphicon-apple" aria-hidden="true">关注<span
                                        th:text="${question.followedCount}"></span>人</i>&nbsp;&nbsp;

                                <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">回答<span
                                        th:text="${question.answerCount}"></span>条</i>
                            </div>
                            <hr color="#f8f8f8"/>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span th:if="${isLoginUser} == 'true' and ${searchQuestionList.size() != 0}">到底了(๑¯ิε ¯ิ๑)</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div th:include="sideHotCards :: sideCards"></div>

    </div>
</div>

<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery.smartbox.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/notify.js"></script>

</body>
</html>

