.text-title {
    color: #333333;
    text-decoration: none;
    font-weight: bolder;
    line-height: 1.5;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: none;
}

.exchange-en-zh-edition {
    font-weight: 500;
    font-size: small;
    cursor: pointer;
}

.exchange-en-zh-edition:hover {
    text-decoration: underline;
}

