body {
    min-height: 2000px;
    padding-top: 65px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    padding: 1px;
    border-radius: 50%;
}

.body-color {
    background-color: #f5f8f9;
}

/*#myBtn:hover {*/
    /*background-color: #555;*/
/*}*/