.list-group-item:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.list-item {
    border: 0px solid #ddd;
    padding: 5px 1px;
}

.list-item a:hover {
    text-decoration: none;
}

/*上面是公用的样式，下面是专用的*/

.day {
    padding-top: 5px;
}

.day .card-title {
    padding-left: 20px;
}

.day .card-title span {
    font-size: 13px;
}

.day div:first-child {
    padding-bottom: 10px;
    padding-top: 4px;
}

.day div:first-child span {
    font-weight: bold;
    font-size: 13px;
}

/*.day div:last-child {*/
    /*border-top: 1px solid #eee;padding-top: 5px;*/
/*}*/

#loadSysMore {
    width: 652px;
    margin-top: 30px;
    margin-bottom: 30px;
}