
/* Index sidebar */
.blog-avatar-50 {
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

.topicItem {
    border-radius: 40%;
    background-color: #cbcbd8;
    padding: 1px;
}













