<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑信息</title>
    <link rel="stylesheet" type="text/css" href="css/wangEditor.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="css/editProfile.css"/>
    <link rel="stylesheet" type="text/css" href="css/build.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/navbar-static-top.css" rel="stylesheet"/>
</head>
<body class="body-color">

<div class="container">
    <!--<form role="form">-->
    <div class="row" style="margin-top: -50px;margin-bottom: 30px;">
        <span><h2 style="color: #d9534f;">让AnswerPedia知道你的偏好和擅长</h2>（点击话题名称可以查看子话题，收起子话题）</span>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" th:each="rootTopic : ${topicList}" style="margin-bottom: 20px;background-color: white;">
            <fieldset th:id="${rootTopic.topicId}">
                <legend th:text="${rootTopic.topicName}" style="margin-bottom: 10px;"/>
                <!--<p th:text="${rootTopic.topicSimpleDesc}"/>-->
                <div th:each="topic : ${rootTopic.subTopicList}" class="checkbox checkbox-inline checkbox-danger"
                     style="margin-bottom: 16px;margin-left: 0px;">
                    <input th:id="${topic.topicId}" type="checkbox" class="styled" name="selectedIds"
                           th:value="${topic.topicId}"/>
                    <label class="topicName" th:text="${topic.topicName}"
                           style="padding-left: 3px;padding-right: 10px;"/>
                </div>

                <!--<div id="12345678"-->
                     <!--style="margin-left: 30px;background-color: #efe3e3;margin-top: -15px;padding-bottom: 0px;">-->
                    <!--<h3 style="font-size: 16px;" th:text="子话题"></h3>-->
                    <!--<p class="foldSubTopic" style="cursor: pointer;"><h3 style="font-size: 16px;" th:text="子话题"></h3>点此收起</p>-->
                    <!--<div class="checkbox checkbox-inline checkbox-danger"-->
                         <!--style="margin-bottom: 16px;margin-left: 0px;">-->
                        <!--<input type="checkbox" class="styled" value="1" checked="true"/>-->
                        <!--<label class="name" th:text="测试" style="padding-left: 3px;padding-right: 10px;"/>-->
                    <!--</div>-->
                <!--</div>-->

            </fieldset>
        </div>
    </div>

    <div style="margin-top: 30px;margin-bottom: 30px;text-align: center;">
        <input id="startBtn" type="button" class="btn btn-danger" value="开始探索"/>
    </div>
    <!--</form>-->
</div>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/wangEditor.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/topic.js"></script>

</body>
</html>

