<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>沙雕问答</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
</head>

<body style='background-color: #f6f6f6;'>

<div th:include="navigator :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card mb-4" th:each="question : ${questionList}">
                        <div class="card-block border-dark">
                            <h4 class="card-title text-dark">
                                <a th:href="@{'/question/' + ${question.questionId}}" class="card-link text-dark"
                                   th:text="${question.questionTitle}">
                                </a>
                            </h4>
                            <p class="card-text" th:text="${question.questionContent}">
                            </p>

                            <div class="card-text">
                                <a href="/user/${question.userId}" th:href="@{'/user/' + ${question.userId}}"
                                   class="card-link"
                                   th:text="${question.user.username}">waylau</a> 发表于2019年

                                <i class="fa fa-eye" aria-hidden="true">浏览了<span
                                        th:text="${question.scanedCount} == null ? 1000 : ${question.scanedCount}"></span>次</i>

                                <i class="fa fa-heart-o" aria-hidden="true">被关注<span
                                        th:text="${question.followedCount}"></span>次</i>

                                <i class="fa fa-comment-o" aria-hidden="true">共<span
                                        th:text="${question.answerCount}"></span>个回答</i>
                            </div>
                            <hr color="#f8f8f8"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--<a th:each="tag, tagStat : ${tags}" th:object="${tag}">-->
                                <!--<%&#45;&#45;href="/blogs?keyword=1" th:href="'/blogs?keyword=' + *{name}">&#45;&#45;%>-->
                                <!--<span class="badge">-->
                                <!--<%&#45;&#45;th:classappend="${tagStat.index} eq 0&#45;&#45;%>-->
                                <!--<%&#45;&#45;? 'badge-danger': (${tagStat.index} eq 1&#45;&#45;%>-->
                                <!--<%&#45;&#45;? 'badge-warning':(${tagStat.index} eq 2&#45;&#45;%>-->
                                <!--<%&#45;&#45;? 'badge-info':'badge-default'))"&#45;&#45;%>-->
                                <!--<th:text="*{name}">Web Design</span>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门问题 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门问题</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--<span th:each="user: ${users}" th:object="${user}">-->
                                <!--<a href="/u/waylau" th:href="'/u/' + *{username}" title="waylau"-->
                                <!--th:title="*{username}"> <img src="/images/avatar-defualt.jpg"-->
                                <!--th:src="*{avatar} == null ? '/images/avatar-defualt.jpg' : *{avatar}"-->
                                <!--class="blog-avatar-50"/>-->
                                <!--</a>-->
                                <!--</span>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门文章 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

                    <!--<ul class="list-group" th:each="hotblog , hotblogStat : ${hotest}"-->
                    <!--th:object="${hotblog}">-->
                    <!--<a th:href="'/u/'+*{username} +'/blogs/'+ *{blogId}"-->
                    <!--class="list-group-item"> [[*{title}]]<span-->
                    <!--class="badge badge-pill"-->
                    <!--th:classappend="${hotblogStat.index} eq 0-->
                    <!--? 'badge-danger': (${hotblogStat.index} eq 1-->
                    <!--? 'badge-warning':(${hotblogStat.index} eq 2-->
                    <!--? 'badge-info':'badge-default'))">[[*{readSize}]]</span>-->
                    <!--</a>-->
                    <!--</ul>-->

                </div>

                <!-- 最新发布 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                    <div class="list-group">
                        <!--<ul class="list-group" th:each="newblog : ${newest}"-->
                        <!--th:object="${newblog}">-->
                        <!--<a th:href="'/u/'+*{username} +'/blogs/'+ *{blogId}"-->
                        <!--class="list-group-item" th:text="*{title}"> </a>-->
                        <!--</ul>-->
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
</body>
</html>

