

<div th:fragment="ask" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">我的问题</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="askForm">
                        <div class="form-group">
                            <label for="questionTitle" class="col-form-label">问题名称</label>
                            <input id="questionTitle" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="questionContent" class="col-form-label">问题详情（如果有的话）</label>
                            <textarea  id="questionContent" class="form-control" style="height: 30%;"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button id="askBtn" type="button" class="btn btn-primary">发布</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Static navbar -->
<div th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav id="nbar" class="navbar navbar-default navbar-fixed-top" style='background-color: #fff;'>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">沙问</a>
            </div>

            <form class="navbar-form navbar-right" role="search">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">我要提问
                </button>
                <div class="form-group">
                    <label for="keyword" class="sr-only">关键字</label>
                    <input type="text" id="keyword" class="form-control" placeholder="输入关键字"/>
                </div>
                <button id="searchBtn" type="submit" class="btn btn-default">搜索</button>

            </form>


            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/following}">关注</a></li>
                    <li><a th:href="@{/recommend}">推荐</a></li>
                    <li><a th:href="@{/notification}">消息</a></li>

                </ul>

                <div class="nav-profile">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span
                                    th:text="${user.username != null} ? ${user.username} : '我的'">我的</span><span
                                    class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/userHome/activity/' + ${user.userId}}">主页</a></li>
                                <li><a th:href="@{/settings}">设置</a></li>
                                <li><a th:href="@{/logout}">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<!--不要包含任何js文件-->


