<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>AnswerPedia</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/jquery-ui.css"/>
    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="http://localhost:8088/css/summernote.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/questionDetail.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/sidePersonCard.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/askFrame.css" rel="stylesheet"/>

</head>

<body style='background-color: #f8f8f8;'>

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>
<div th:include="navigator :: delConfirm"></div>

<!--头像悬浮信息展示框-->
<div th:include="floatingDiv :: floatingDiv"></div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card mb-4">

                        <div class="question-topic card-block">
                            <ul class="topic-list" style="margin-top:10px;margin-bottom: -10px;margin-left: -39px;">
                                <i class="fa fa-tags" aria-hidden="true"/>
                                <span class="topicItem" th:each="topic : ${relatedTopicList}"
                                      style="border-radius: 40%;background-color: #cbcbd8;padding: 1px;"><a
                                        th:href="@{'/topic/' + ${topic.topicId} + '/introduction'}" data-id="1"
                                        th:text="${topic.topicName}"/></span>
                            </ul>
                        </div>
                        <div class="card-block">
                            <h3 class="text-title">
                                <p class="card-text text-dark" th:text="${questionDetail.questionTitle}"/>
                            </h3>
                            <p class="card-text" th:text="${questionDetail.questionContent}"/>

                            <span class="glyphicon glyphicon-time"/>提问于
                            <span th:text="${#dates.format(questionDetail.createTime, 'yyyy年MM月dd日HH:mm')}"></span>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-eye-open"></span>浏览<span
                                th:text="${questionDetail.scanedCount}"></span>次&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-user"></span>关注<span th:text="123"></span>人<br/>
                            <br/>
                            <div style="font-size: larger;">

                                <span class="icon-rss" style="cursor: pointer" id="focusQuestion"
                                      th:text="${hasFollowQuestion == 'true'} ? '取消关注' : '关注问题'"><i
                                        class="icon-rss"/></span>&nbsp;
                                <span class="icon-edit" id="iWantAnswer" data-id="0"
                                      style="cursor: pointer"
                                      th:text="${localUserAnswer == 0} ? '我要回答' : '修改回答'">我要回答</span>&nbsp;
                                <span class="icon-pencil" id="inviteOtherAnswer" style="cursor: pointer">邀请回答</span>
                                <span id="readLater" style="cursor: pointer;float: right">稍后阅读<i
                                        class="icon-circle-arrow-right"/></span>

                                <input id="getQuestionId" th:type="hidden" th:value="${questionDetail.questionId}"/>
                            </div>
                        </div>
                        <!--<br/>-->
                        <!--富文本编辑器的作者显示-->
                        <div id="authorEditting" class="card-title answer-meta" style="display: none">
                            <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                <img th:src="${user.avatarUrl}" width="45px" height="45px"
                                     style="border-radius: 100%"/>
                            </div>
                            <div style="margin-left: 55px">
                                <h5>
                                    <a href="'/userHome/question/' + ${user.userId}"
                                       th:href="@{'/userHome/question/' + ${user.userId}}"
                                       class="card-link"
                                       th:text="${user.username}">
                                    </a>&nbsp;
                                    <span th:text="${user.position}"/>
                                </h5>
                            </div>
                            <div style="margin-left: 55px">
                                <span th:text="${user.simpleDesc}"/>
                            </div>
                            <!--&nbsp;<a th:href="@{'/userHome/question/' + ${user.userId}}">-->
                            <!--<span class="glyphicon glyphicon-user"></span></a>-->
                            <!--<span th:text="${user.username}"/>于-->
                            <!--<span th:text="${#dates.format(answer.createTime, 'yyyy年MM月dd日HH:mm')}"/>回答了该问题-->
                        </div>

                        <!--回答具体内容输入框-->
                        <div class="answerArea" data-id="-1">

                        </div>
                        <div id="submitBtn" style="display: none;font-size: larger;">
                            <span class="icon-remove" id="quitAnswer" style="cursor: pointer">取消回答</span>&nbsp;
                            <span class="icon-upload-alt" id="submitAnswer" style="cursor: pointer">提交回答</span>&nbsp;
                        </div>
                        <hr/>
                    </div>
                    <!--<br/>-->
                    <!--提交回答后，直接显示回答内容，没有请求后台-->
                    <div id="afterAnswerCard" class="card mb-4" style="display: none;margin-bottom: 30px;">
                        <div class="card-block">
                            <div class="card-title answer-meta">
                                <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                    <a th:href="@{'/userHome/activity/' + ${user.userId}}">
                                        <img th:src="${user.avatarUrl}" width="100%" height="100%"
                                             style="border-radius: 100%"/>
                                    </a>
                                </div>
                                <div style="margin-left: 55px">
                                    <h5>
                                        <a th:href="@{'/userHome/activity/' + ${user.userId}}" class="card-link"
                                           th:text="${user.username}">
                                        </a>&nbsp;
                                        <span th:text="${user.position}"/>&nbsp;
                                        <span th:text="${user.simpleDesc}"/>
                                    </h5>
                                </div>
                                &nbsp;<a th:href="@{'/userHome/activity/' + ${user.userId}}">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                                <span th:text="你"/>
                                <span th:text="刚刚"/>回答了该问题
                                <h6 th:text="0人赞同了该回答"></h6>
                            </div>
                            <!--回答正文展开折叠功能-->
                            <div class="card-text">
                                <div class="foldContent">
                                    <p id="answerContent" class="card-text hideContent"/>
                                </div>
                            </div>
                            <!--回答修改按钮-->
                            <div id="modifyAfterAnswerBtn" data-id="0">
                                <a style="cursor: pointer;">
                                    <i class="icon-pencil"/>
                                    <span class="AnswerItem-editButtonText">修改</span>
                                </a>
                            </div>
                            <div th:id="answerId" class="card-text" style="margin-top: 4px;">

                                <input id="isCollectAfter" th:type="hidden" th:value="0"/>
                                <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                <input id="userVoteAfter" th:type="hidden" th:value="0"/>
                                <input id="upvoteCountAfter" th:type="hidden" th:value="0"/>
                                <input id="downvoteCountAfter" th:type="hidden" th:value="0"/>

                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span id="upvoteIconAfter" class="label label-primary" th:text="0次赞同"/>

                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                <span id="downvoteIconAfter" class="label label-primary" th:text="0次反对"/>

                                &nbsp;&nbsp;
                                <i th:id="collectSymbol" class="glyphicon glyphicon-star-empty"
                                   style="margin-right: -4px;"></i>
                                <span id="collectBtnValueAfter" th:text="收藏"></span>&nbsp;&nbsp;

                                <button class="btn btn-xs delBtn glyphicon glyphicon-trash"
                                        data-toggle="modal" data-target="#delConfirmModal">
                                </button>
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 10px;">
                            <a th:href="@{'/question/' + ${questionDetail.questionId}}">
                                <span>-----查看所有回答-----</span>
                            </a>
                        </div>
                    </div>
                    <!--Answers list below-->
                    <div class="card mb-4" th:each="answer : ${answerList}">
                        <div class="card-block">
                            <div class="card-title answer-meta">
                                <div class="avatarImg" style="float:left; width:45px; height:45px;">
                                    <a th:href="@{'/userHome/activity/' + ${answer.user.userId}}">
                                        <img th:src="${answer.user.avatarUrl}" width="100%" height="100%"
                                             style="border-radius: 100%"/>
                                    </a>
                                </div>
                                <div style="margin-left: 55px">
                                    <h5>
                                        <a href="'/userHome/activity/' + ${answer.user.userId}"
                                           th:href="@{'/userHome/activity/' + ${answer.user.userId}}"
                                           class="card-link"
                                           th:text="${answer.user.username}">
                                        </a>&nbsp;
                                        <span th:text="${answer.user.position}"/>&nbsp;
                                        <span th:text="${answer.user.simpleDesc}"/>
                                        <!--<span th:id="userId + '-' + ${answer.user.userId}"-->
                                        <!--class="glyphicon label label-primary followUser" style="float:right"-->
                                        <!--th:text="${answer.user.followStatus == 1} ? '已关注答主' : '关注答主'">关注答主</span>-->
                                    </h5>
                                </div>
                                &nbsp;<a th:href="@{'/userHome/activity/' + ${answer.user.userId}}">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                                <span th:text="${answer.user.username}"/>于
                                <span th:text="${#dates.format(answer.createTime, 'yyyy年MM月dd日HH:mm')}"/>
                                回答了该问题
                                <h6 th:text="${answer.likedCount} + '人赞同了该回答'"></h6>
                            </div>
                            <!--回答正文展开折叠功能-->
                            <div class="card-text">
                                <!--<div class="foldContent" th:if="${answer.answerContent.length() lt 20}">-->
                                <!--<p class="card-text hideContent" th:text="${answer.answerContent}"-->
                                <!--style="height: 20px"/>-->
                                <!--</div>-->
                                <div class="foldContent">
                                    <p class="card-text hideContent" th:utext="${answer.answerContent}"/>
                                </div>
                                <!--<div class="show-more">-->
                                <!--<p style="float:right;" class="moreContent">展开<span-->
                                <!--th:id="answerContentId+'-'+${answer.answerId}"-->
                                <!--class="glyphicon glyphicon-menu-down"></span></p>-->
                                <!--</div>-->
                            </div>
                            <!--回答修改按钮-->
                            <div id="modifyAnswerBtn" data-id="${answer.answerId}"
                                 th:if="${answer.user.userId} eq ${user.userId}">
                                <a style="cursor: pointer;">
                                    <i class="icon-pencil"/>
                                    <span class="AnswerItem-editButtonText">修改</span>
                                </a>
                            </div>

                            <div th:id="answerId+'-'+${answer.answerId}" class="card-text" style="margin-top: 4px;">
                                <input id="isCollect" th:type="hidden" th:value="${answer.collectAnswer}"/>
                                <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                <input id="userVote" th:type="hidden" th:value="${answer.user.vote}"/>
                                <input id="upvoteCount" th:type="hidden" th:value="${answer.likedCount}"/>
                                <input id="downvoteCount" th:type="hidden" th:value="${answer.dislikedCount}"/>

                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span id="upvoteIcon" class="label label-primary"
                                      th:text="${answer.user.vote == 1} ? '已赞同'+ ${answer.likedCount} + '次' : '赞同'+ ${answer.likedCount} + '次' "></span>

                                <i class="glyphicon glyphicon-thumbs-down" th:href="@{downvote}"></i>
                                <span id="downvoteIcon" class="label label-primary"
                                      th:text="${answer.user.vote == -1} ? '已反对'+ ${answer.dislikedCount} + '次' : '反对'+ ${answer.dislikedCount} + '次' "></span>

                                &nbsp;&nbsp;
                                <i th:if="${answer.collectAnswer == true}" th:id="${answer.answerId} + 'star'"
                                   class="glyphicon glyphicon-star" style="margin-right: -4px;"></i>
                                <i th:if="${answer.collectAnswer == false}" th:id="${answer.answerId} + 'star'"
                                   class="glyphicon glyphicon-star-empty" style="margin-right: -4px;"></i>
                                <span id="collectBtnValue"
                                      th:text="${answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>&nbsp;&nbsp;

                                <button th:if="${user.userId == answer.answerUserId}"
                                        class="btn btn-xs delBtn glyphicon glyphicon-trash"
                                        data-toggle="modal" data-target="#delConfirmModal">
                                    <!--<span class=""></span>-->
                                </button>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div th:include="sideHotCards :: sideCards"></div>

    </div>
</div>

<!--<script>-->

<!--</script>-->

<script src="https://code.jquery.com/jquery-latest.js"></script>


<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/notify.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/popper.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/askFrame.js"></script>
<!--<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->

<script src="http://localhost:8088/js/summernote.js"></script>

</body>
</html>

