<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>沙雕问答</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>

</head>

<body style='background-color: #f6f6f6;'>

<div th:include="navigator :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card mb-4">
                        <div class="card-block">
                            <h3 class="card-title">
                                <p class="card-text text-dark" th:text="${questionDetail.questionTitle}"/>
                            </h3>
                            <p class="card-text" th:text="${questionDetail.questionContent}"/>

                            <input id="focusQuestion" class="btn btn-default" th:type="button"
                                   th:value="${hasFollowQuestion == 'true'} ? '取消关注' : '关注问题'"
                                   th:href="@{'followQuestion/' + ${questionDetail.questionId}}"/>
                            <input id="iWantAnswer" class="btn btn-default" th:type="button" th:value="我要回答"
                                   th:href="@{'iWantAnswer/' + ${questionDetail.questionId}}"/>
                            <input id="inviteOtherAnswer" class="btn btn-default" th:type="button" th:value="邀请回答"
                                   th:href="@{'inviteOtherAnswer/' + ${questionDetail.questionId}}"/>
                            <input id="getQuestionId" th:type="hidden" th:value="${questionDetail.questionId}"/>
                        </div>
                        <br/><br/>
                        <div id="editFrame" style="display:none;">
                            <textarea id="answerContent" style="width:100%; height:80px;"></textarea>
                            <!--<iframe src="build/document.html" width="100%" />-->

                            <input id="quitAnswer" class="btn btn-default" th:type="button" th:value="取消回答"/>
                            <input id="submitAnswer" class="btn btn-default" th:type="button" th:value="提交回答"
                                   th:href="@{'/submitAnswer/' + ${questionDetail.questionId}}" align="right"/>
                        </div>
                    </div>
                    <h5 class="page-header"></h5>
                    <div class="card mb-4" th:each="answer : ${answerList}">
                        <div class="card-block">
                            <div class="card-title answer-meta">
                                <div style="float:left; width:45px; height:45px;">
                                    <img th:src="${answer.user.avatarUrl}" width="100%" height="100%"/>
                                </div>
                                <div style="margin-left: 55px">
                                    <h4><a href="'/userProfile/' + ${answer.user.userId}"
                                           th:href="@{'/userProfile/' + ${answer.user.userId}}"
                                           class="card-link"
                                           th:text="${answer.user.username}"></a></h4>
                                    <h5 th:text="${answer.user.simpleDesc}"></h5>

                                </div>
                                <h6 th:text="${answer.likedCount} + '人赞同了该回答'"></h6>
                            </div>
                            <p class="card-text" th:text="${answer.answerContent}"/>

                            <div class="card-text">
                                <input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>
                                <input id="userVote" th:type="hidden" th:value="${answer.user.vote}"/>
                                <input id="upvoteCount" th:type="hidden" th:value="${answer.likedCount}"/>
                                <input id="upvoteButton" type="button" class="btn btn-default"
                                       th:value="${answer.user.vote == 1} ? '已赞同'+ ${answer.likedCount} + '次' : '赞同'+ ${answer.likedCount} + '次' "/>
                                <input id="downvoteCount" th:type="hidden" th:value="${answer.dislikedCount}"/>
                                <input id="downvoteButton" type="button" class="btn btn-default"
                                       th:value="${answer.user.vote == -1} ? '已反对'+ ${answer.dislikedCount} + '次' : '反对'+ ${answer.dislikedCount} + '次' "/>

                                <!--<i class="" aria-hidden="true">赞同<span th:text="${answer.likedCount}"/>次</i>-->
                                <!--<i class="" aria-hidden="true">反对<span th:text="${answer.dislikedCount}"/>次</i>-->

                                <a th:href="@{'/deleteAnswer/' + ${answer.answerId}}">删除</a>
                            </div>


                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门问题 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门问题</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--<span th:each="user: ${users}" th:object="${user}">-->
                                <!--<a href="/u/waylau" th:href="'/u/' + *{username}" title="waylau"-->
                                <!--th:title="*{username}"> <img src="/images/avatar-defualt.jpg"-->
                                <!--th:src="*{avatar} == null ? '/images/avatar-defualt.jpg' : *{avatar}"-->
                                <!--class="blog-avatar-50"/>-->
                                <!--</a>-->
                                <!--</span>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 热门文章 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

                    <!--<ul class="list-group" th:each="hotblog , hotblogStat : ${hotest}"-->
                    <!--th:object="${hotblog}">-->
                    <!--<a th:href="'/u/'+*{username} +'/blogs/'+ *{blogId}"-->
                    <!--class="list-group-item"> [[*{title}]]<span-->
                    <!--class="badge badge-pill"-->
                    <!--th:classappend="${hotblogStat.index} eq 0-->
                    <!--? 'badge-danger': (${hotblogStat.index} eq 1-->
                    <!--? 'badge-warning':(${hotblogStat.index} eq 2-->
                    <!--? 'badge-info':'badge-default'))">[[*{readSize}]]</span>-->
                    <!--</a>-->
                    <!--</ul>-->

                </div>

                <!-- 最新发布 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                    <div class="list-group">
                        <!--<ul class="list-group" th:each="newblog : ${newest}"-->
                        <!--th:object="${newblog}">-->
                        <!--<a th:href="'/u/'+*{username} +'/blogs/'+ *{blogId}"-->
                        <!--class="list-group-item" th:text="*{title}"> </a>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>

<script>
    $('#focusQuestion').click(function () {
        var btnFocusQuestion = $("#focusQuestion");
        followQuestion();
        // 取消关注问题
        if (btnFocusQuestion.val() == '关注问题') {
            btnFocusQuestion.val('取消关注');

        } else {
            btnFocusQuestion.val('关注问题');
        }
        btnFocusQuestion.blur();
    });

    $('#iWantAnswer').click(function () {
        $('#editFrame').show();
    });

    $('#submitAnswer').click(function () {
        $('#editFrame').hide();
    });
    $('#quitAnswer').click(function () {
        $('#editFrame').hide();
    });

    $('#upvoteButton').click(function () {
        var answerId = $('#getAnswerId').val();
        var userVote = $('#userVote').val();
        // var upvoteCount = $('#downvoteButton') + 1;
        // $('#upvoteButton').val(upvoteCount);
        $.ajax({
            url: "/upvoteAnswer/" + answerId,
            type: "get",
            data: {"userVote": userVote},
            dataType: 'json',
            success: function (response) {
                if (response.data == 1) {
                    alert("a");
                }
            }
        });
    });

    $('#downvoteButton').click(function () {
        var answerId = $('#getAnswerId').val();
        var userVote = $('#userVote').val();
        $.ajax({
            url: "/downvoteAnswer/" + answerId,
            type: "get",
            data: {"userVote": userVote},
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    });


    $('#submitAnswer').click(function () {

        var answerContent = $('#answerContent').val();
        var questionId = $('#getQuestionId').val();

        $.ajax({
            url: "/submitAnswer/" + questionId,
            type: "get",
            data: {'answerContent': answerContent},
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    });

    function followQuestion() {

        var questionId = $('#getQuestionId').val();

        $.ajax({
            url: "/followQuestion/" + questionId,
            type: "get",
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    }

</script>
</body>
</html>

