<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>沙答</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/jquery.smartbox.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>

</head>

<body style='background-color: #f8f8f8;'>

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">
                    <div class="card mb-4">

                        <div class="card-block">
                            <h3 class="card-title">
                                <p class="card-text text-dark" th:text="${questionDetail.questionTitle}"/>
                            </h3>
                            <p class="card-text" th:text="${questionDetail.questionContent}"/>

                            <span class="glyphicon glyphicon-eye-open"></span>浏览<span
                                th:text="${questionDetail.scanedCount}"></span>次&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-user"></span>关注<span th:text="123"></span>人<br/>
                            <br/>
                            <div>
                                <input id="focusQuestion" class="btn btn-default" th:type="button"
                                       th:value="${hasFollowQuestion == 'true'} ? '取消关注' : '关注问题'"
                                       th:href="@{'followQuestion/' + ${questionDetail.questionId}}"/>
                                <input id="iWantAnswer" class="btn btn-default" th:type="button" th:value="我要回答"
                                       th:href="@{'iWantAnswer/' + ${questionDetail.questionId}}"/>
                                <input id="inviteOtherAnswer" class="btn btn-default" th:type="button" th:value="邀请回答"
                                       th:href="@{'inviteOtherAnswer/' + ${questionDetail.questionId}}"/>
                                <input id="getQuestionId" th:type="hidden" th:value="${questionDetail.questionId}"/>
                            </div>
                        </div>

                        <br/>
                        <div id="editFrame" style="display:none;">
                            <textarea id="answerContent" style="width:100%; height:80px;"></textarea><br/>
                            <!--<iframe src="build/document.html" width="100%" />-->

                            <input id="quitAnswer" class="btn btn-default" th:type="button" th:value="取消回答"/>
                            <input id="submitAnswer" class="btn btn-default" th:type="button" th:value="提交回答"
                                   th:href="@{'/submitAnswer/' + ${questionDetail.questionId}}" align="right"/>
                        </div>
                    </div>
                    <br/>

                    <!--<h5 class="page-header"></h5>-->
                    <div class="card mb-4" th:each="answer : ${answerList}">
                        <div class="card-block">
                            <div class="card-title answer-meta">
                                <div style="float:left; width:45px; height:45px;">
                                    <img th:src="${answer.user.avatarUrl}" width="100%" height="100%" style="border-radius: 100%"/>
                                </div>
                                <div style="margin-left: 55px">
                                    <h5><a href="'/userProfile/' + ${answer.user.userId}"
                                           th:href="@{'/userProfile/' + ${answer.user.userId}}"
                                           class="card-link"
                                           th:text="${answer.user.username}"></a>&nbsp;
                                        <span th:text="${answer.user.position}"/>&nbsp;
                                        <span th:text="${answer.user.simpleDesc}"/></h5>
                                    <!--<h5 th:text="${answer.user.simpleDesc}"></h5>-->

                                </div>
                                &nbsp;<a th:href="@{'/userProfile/' + ${answer.user.userId}}">
                                <span class="glyphicon glyphicon-user"></span>
                            </a><span th:text="${answer.user.username}"/>刚刚回答了该问题
                                <a href="#" style="float:right">
                                    <span class="glyphicon glyphicon-plus-sign">关注</span>
                                </a>
                                <h6 th:text="${answer.likedCount} + '人赞同了该回答'"></h6>
                            </div>
                            <p class="card-text" th:text="${answer.answerContent}"/>

                            <div th:id="answerId+'-'+${answer.answerId}" class="card-text">
                                <input id="isCollect" th:type="hidden" th:value="${answer.collectAnswer}"/>
                                <!--<input id="getAnswerId" th:type="hidden" th:value="${answer.answerId}"/>-->
                                <input id="userVote" th:type="hidden" th:value="${answer.user.vote}"/>
                                <input id="upvoteCount" th:type="hidden" th:value="${answer.likedCount}"/>
                                <input id="downvoteCount" th:type="hidden" th:value="${answer.dislikedCount}"/>

                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                <span id="upvoteIcon" class="label label-primary"
                                      th:text="${answer.user.vote == 1} ? '已赞同'+ ${answer.likedCount} + '次' : '赞同'+ ${answer.likedCount} + '次' "></span>

                                <i class="glyphicon glyphicon-thumbs-down" th:href="@{downvote}"></i>
                                <span id="downvoteIcon" class="label label-primary"
                                      th:text="${answer.user.vote == -1} ? '已反对'+ ${answer.dislikedCount} + '次' : '反对'+ ${answer.dislikedCount} + '次' "></span>

                                &nbsp;&nbsp;
                                <i class="glyphicon glyphicon-star"></i>
                                <!--<i>-->
                                <!--<span class="glyphicon glyphicon-star"></span>-->
                                <!--<i/>-->
                                <span id="collectBtnValue"
                                      th:text="${answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>&nbsp;&nbsp;

                                <!--<button id="collectBtn" th:href="@{'/collectAnswer/' + ${answer.answerId}}"-->
                                <!--type="button" class="btn btn-default btn-sm">-->
                                <!--<div th:if="${answer.collectAnswer == false}">-->
                                <!--<span id="notCollect" class="glyphicon glyphicon-star-empty"></span>-->
                                <!--</div>-->
                                <!--<div th:if="${answer.collectAnswer == true}">-->
                                <!--<span id="collected" class="glyphicon glyphicon-star"></span>-->
                                <!--</div>-->
                                <!--<span id="collectBtnValue"-->
                                <!--th:text="${answer.collectAnswer == true} ? '已收藏' : '收藏'"></span>-->
                                <!--</button>-->

                                <button class="btn btn-xs delBtn glyphicon glyphicon-trash">
                                    <!--<span class=""></span>-->
                                </button>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div th:include="sideHotCards :: sideCards"></div>

    </div>
</div>

<script type="text/javascript" src="http://localhost:8088/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery.smartbox.js"></script>

<script>
    $('#focusQuestion').click(function () {
        var btnFocusQuestion = $("#focusQuestion");
        followQuestion();
        // 取消关注问题
        if (btnFocusQuestion.val() == '关注问题') {
            btnFocusQuestion.val('取消关注');

        } else {
            btnFocusQuestion.val('关注问题');
        }
        btnFocusQuestion.blur();
    });

    $('#iWantAnswer').click(function () {
        $('#editFrame').show();
    });

    $('#submitAnswer').click(function () {
        $('#editFrame').hide();
    });
    $('#quitAnswer').click(function () {
        $('#editFrame').hide();
    });

    $('.glyphicon-thumbs-up').click(function (event) {
        var id = event.target.parentNode.id;
        var answerId = id.split('-')[1];
        var userVote = $('#userVote', '#' + id).val(); // 是否已经投票：-1：反对；0：未投票；1：赞成
        var upvoteCount = +$('#upvoteCount', '#' + id).val(); // 赞成数量
        var downvoteCount = +$('#downvoteCount', '#' + id).val(); // 反对数量
        if (userVote == 1) { // 已经赞成了答案
            $('#userVote', '#' + id).val(0);
            $('#upvoteCount', '#' + id).val(upvoteCount - 1);
            $('#upvoteIcon', '#' + id).text('赞同' + (upvoteCount - 1) + '次');
        } else if (userVote == 0) { // 还未投票
            $('#userVote', '#' + id).val(1);
            $('#upvoteCount', '#' + id).val(upvoteCount + 1);
            $('#upvoteIcon', '#' + id).text('已赞同' + (upvoteCount + 1) + '次');
        } else { // 反对答案
            $('#userVote', '#' + id).val(1);
            $('#upvoteCount', '#' + id).val(upvoteCount + 1);
            $('#downvoteCount', '#' + id).val(downvoteCount - 1);
            $('#upvoteIcon', '#' + id).text('已赞同' + (upvoteCount + 1) + '次');
            $('#downvoteIcon', '#' + id).text('反对' + (downvoteCount - 1) + '次');
        }

        $.ajax({
            url: "/voteAnswer/" + answerId,
            type: "post",
            data: {"userVote": userVote, "upOrDownClick": 1},
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                    alert(response.data);
                }
            }
        });
    });

    $('.glyphicon-thumbs-down').click(function (event) {

        var id = event.target.parentNode.id;
        var answerId = id.split('-')[1];
        var userVote = $('#userVote', '#' + id).val(); // 是否已经投票：-1：反对；0：未投票；1：赞成
        var upvoteCount = +$('#upvoteCount', '#' + id).val(); // 赞成数量
        var downvoteCount = +$('#downvoteCount', '#' + id).val(); // 反对数量
        if (userVote == 1) { // 已经赞成了答案

            $('#userVote', '#' + id).val(-1);
            $('#upvoteCount', '#' + id).val(upvoteCount - 1);
            $('#downvoteCount', '#' + id).val(downvoteCount + 1);

            $('#upvoteIcon', '#' + id).text('赞同' + (upvoteCount - 1) + '次');
            $('#downvoteIcon', '#' + id).text('已反对' + (downvoteCount + 1) + '次');


        } else if (userVote == 0) { // 还未投票
            $('#userVote', '#' + id).val(-1);
            $('#downvoteCount', '#' + id).val(downvoteCount + 1);
            $('#downvoteIcon', '#' + id).text('已反对' + (downvoteCount + 1) + '次');
        } else { // 反对答案
            $('#userVote', '#' + id).val(0);
            $('#downvoteCount', '#' + id).val(downvoteCount - 1);
            $('#downvoteIcon', '#' + id).text('反对' + (downvoteCount - 1) + '次');
        }

        $.ajax({
            url: "/voteAnswer/" + answerId,
            type: "post",
            data: {"userVote": userVote, "upOrDownClick": -1},
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    });

    $('.glyphicon-star').click(function (event) {
        var id = event.target.parentNode.id;
        var answerId = id.split('-')[1];
        var isCollect = $('#isCollect', '#' + id).val(); // 是否已经收藏

        if (isCollect == "false") {
            $('#isCollect', '#' + id).val(true);
            $('#collectBtnValue', '#' + id).text("已收藏");
        } else {
            $('#isCollect', '#' + id).val(false);
            $('#collectBtnValue', '#' + id).text("收藏");
        }
        $.ajax({
            url: "/collectAnswer/" + answerId,
            type: "get",
            data: {"isCollect": isCollect},
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    });


    $('.delBtn').click(function (event) {

        var id = event.target.parentNode.id;
        var answerId = id.split('-')[1];

        $('#answerId-' + answerId)[0].parentNode.parentNode.hidden = true;

        $.ajax({
            url: "/deleteAnswer/" + answerId,
            type: "get",
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    });

    function followQuestion() {

        var questionId = $('#getQuestionId').val();

        $.ajax({
            url: "/followQuestion/" + questionId,
            type: "get",
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    }


    $('#submitAnswer').click(function () {

        var answerContent = $('#answerContent').val();
        var questionId = $('#getQuestionId').val();

        $.ajax({
            url: "/submitAnswer/" + questionId,
            type: "get",
            data: {'answerContent': answerContent},
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    });

    function followQuestion() {

        var questionId = $('#getQuestionId').val();

        $.ajax({
            url: "/followQuestion/" + questionId,
            type: "get",
            dataType: 'json',
            success: function (response) {
                if (response.state == 1) {
                } else {
                }
            }
        });
    }


</script>
</body>
</html>

