<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>AnswerPedia</title>

    <link href="http://localhost:8088/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/answer.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/topic.css" rel="stylesheet"/>

    <link rel="stylesheet" href="http://localhost:8088/css/font-awesome.min.css" type="text/css"/>

    <link rel="stylesheet" href="http://localhost:8088/css/jquery-ui.css"/>

    <!--<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="http://localhost:8088/css/custom.css"/>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="http://localhost:8088/css/summernote.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/questionDetail.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/sidePersonCard.css" rel="stylesheet"/>
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />-->
    <link href="http://localhost:8088/css/askFrame.css" rel="stylesheet"/>
    <link href="http://localhost:8088/css/quill.snow.css" rel="stylesheet"/>


</head>

<body style='background-color: #f8f8f8;'>

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>
<div th:include="navigator :: delConfirm"></div>

<!--头像悬浮信息展示框-->
<div id="floating" class="floatingCard border" style="display: none;">
    <div class="spining" style="display: none;">
        <i class="icon-spinner icon-spin icon-3x"/>
    </div>
    <div class="introduce" style="margin-left: 55px; display: none;">
        <div class="avatarImgFloated" style="float:left; width:45px; height:45px;margin-left: -40px;">
            <a th:href="@{'/userHome/activity/' + ${user.userId}}">
                <img th:src="${user.avatarUrl}" width="100%" height="100%"
                     style="border-radius: 100%"/>
            </a>
        </div>
        <div class="usernameFloat" style="margin-left: 15px">
            <div>
                <h3>
                    <a href="'/userHome/activity/' + ${user.userId}" style="color: black;"
                       th:href="@{'/userHome/activity/' + ${user.userId}}"
                       class="card-link usernameLink"
                       th:text="${user.username}">
                    </a>&nbsp;
                </h3>
            </div>
            <div class="desc" style="margin-top: -7px;">
                <span class="info-piece-fontsize" th:text="${user.simpleDesc}"/>
            </div>
        </div>
        <hr/>
        <!--下面是基本信息-->
        <div class="userDetail" style="margin-left: -28px; margin-top: -15px;">
            <div class="info-piece" th:if="${user.career != null}">
                <i class="fa fa-id-card" aria-hidden="true"/>
                <span class="info-piece-fontsize margin-left career" style="margin-left: 4;"
                      th:text="'现从事于' + ${user.career}"/>
                <span class="info-piece-fontsize position" style="margin-left: 4;" th:text="${user.position}"/>
            </div>
            <div class="info-piece" th:if="${user.education != null}">
                <i class="fa fa-home" aria-hidden="true"/>
                <span class="info-piece-fontsize residencePlace" style="margin-left: 7px;"
                      th:text="'现居住在 ' + ${user.residencePlace}"/>
            </div>
            <div class="info-piece" th:if="${user.education != null}">
                <i class="fa fa-graduation-cap" aria-hidden="true"/>
                <span class="info-piece-fontsize education" style="margin-left: 3px;"
                      th:text="'教育程度 ' + ${user.education}"/>
            </div>
        </div>
        <!--底部关注通知栏-->
        <hr/>
        <div style="margin-top: auto;">
            <p style="margin-left: -56px;margin-right: -2px;">
                <button class="floatInfo" th:id="followHim + '-' + ${user.userId}"
                        style="width: 50%; float: left;">
                    <i class="fa fa-plus fa-2x follow" aria-hidden="true" style="font-size: 15px;">
                        <span>关注他</span>
                    </i>
                </button>
                <button class="floatInfo" style="width: 50%; float: right;">
                    <i class="fa fa-bell fa-2x" aria-hidden="true" style="font-size: 15px;">
                        <span th:text="通知我"/>
                    </i>
                </button>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">

                    <!--话题简介区域-->
                    <div class="card mb-4" style="height: 150px;">
                        <div class="card-block" style="height: 150px;">
                            <div class="card-title answer-meta">
                                <div class="topicImg" style="float:left; width:140px; height:140px;">
                                    <span th:href="@{'/userHome/activity/' + ${user.userId}}">
                                        <img th:src="${topic.topicImage}" width="100%" height="100%"
                                             style="max-width: 100%;max-height: 100%;"/>
                                    </span>
                                </div>
                                <div style="margin-left: 155px;position: relative;height: 138px;">
                                    <span>
                                        <h3 class="card-link" th:text="${topic.topicName}"/>
                                    </span>
                                    <span th:utext="${topic.topicSimpleDesc}"/>

                                    <div style="font-size: larger;margin-top: 37px;position: absolute;bottom: 0;">

                                        <span class="icon-rss" style="cursor: pointer" id="focusQuestion"
                                              th:text="关注话题"/>

                                        <!--<i class="icon-rss"/></span>&nbsp;-->
                                        <span class="icon-bell" id="iWantAnswer" data-id="0"
                                              style="cursor: pointer"
                                              th:text="通知我"/>&nbsp;

                                        <!--<span class="icon-pencil" id="inviteOtherAnswer"-->
                                        <!--style="cursor: pointer" th:text="XXXX"></span>-->

                                        <span id="readLater" style="cursor: pointer;margin-left: 315px;" title="分享话题">
                                            <i class="fa fa-share-alt" aria-hidden="true"/></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab栏-->
                    <div>
                        <ul class="nav nav-tabs">
                            <li role="presentation"><a
                                    th:href="@{'/topic/' + ${topic.topicId} + '/introduction'}">介绍</a></li>
                            <li role="presentation" class="active"><a
                                    th:href="@{'/topic/' + ${topic.topicId} + '/question'}">相关问题</a></li>
                            <li role="presentation"><a
                                    th:href="@{'/topic/' + ${topic.topicId} + '/answer'}">优秀回答</a></li>
                            <li role="presentation"><a th:href="@{'/topic/' + ${topic.topicId} + '/users'}">热门用户</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card mb-4" th:each="question : ${withTopicQuestionList}">
                        <div class="card-block border-dark">
                            <h4 class="card-title text-dark">
                                <a th:href="@{'/question/' + ${question.questionId}}" class="text-title"
                                   th:text="${question.questionTitle}">
                                </a>
                            </h4>
                            <p class="card-text" th:text="${question.questionContent}"/>

                            <div class="card-text">
                                <a href="/userHome/activity/${question.userId}"
                                   th:href="@{'/userHome/activity/' + ${question.userId}}"
                                   class="card-link" th:text="${question.user.username}"/>

                                发表于<span th:text="${#dates.format(question.createTime, 'yyyy年MM月dd日HH:mm')}"></span>&nbsp;&nbsp;

                                <span class="glyphicon glyphicon-eye-open"></span>围观<span
                                    th:text="${question.scanedCount} == null ? 1000 : ${question.scanedCount}"></span>次&nbsp;&nbsp;

                                <i class="glyphicon glyphicon-apple" aria-hidden="true">关注<span
                                        th:text="${question.followedCount}"></span>人</i>&nbsp;&nbsp;

                                <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">回答<span
                                        th:text="${question.answerCount}"></span>条</i>
                            </div>
                            <hr color="#f8f8f8"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div th:include="topic/sideTopicCards :: sideCards"></div>

    </div>
</div>

<!--<script>-->

<!--</script>-->

<script src="https://code.jquery.com/jquery-latest.js"></script>


<script type="text/javascript" src="http://localhost:8088/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/nav.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/questionDetail.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/notify.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/popper.min.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/askFrame.js"></script>
<script type="text/javascript" src="http://localhost:8088/js/quill.js"></script>

<!--<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->

<script src="http://localhost:8088/js/summernote.js"></script>

</body>
</html>

