<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="AnswerPeida is a Q and A website for all users who want to explore more in subjects"/>
    <meta name="author" content="tsaizhenya"/>
    <link rel="icon" href="/images/title.png"/>

    <title>AnswerPedia</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/navbar-static-top.css" rel="stylesheet"/>
    <link href="/css/answer.css" rel="stylesheet"/>
    <link href="/css/topic.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css"/>

    <link rel="stylesheet" href="/css/jquery-ui.css"/>

    <!--<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="/css/custom.css"/>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="/css/summernote.css" rel="stylesheet"/>
    <link href="/css/questionDetail.css" rel="stylesheet"/>
    <link href="/css/sidePersonCard.css" rel="stylesheet"/>
    <link href="/css/askFrame.css" rel="stylesheet"/>
    <link href="/css/quill.snow.css" rel="stylesheet"/>

</head>

<body class="body-color">

<div th:include="navigator :: nav" style='background-color: #fff;'></div>
<div th:include="navigator :: ask"></div>
<div th:include="navigator :: delConfirm"></div>
<div th:if="${user} == null" th:include="navigator :: login"></div>
<div th:if="${user} == null" th:include="navigator :: register"></div>

<!--头像悬浮信息展示框-->
<div th:include="floatingDiv :: floatingDiv"></div>

<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-1" style='background-color: #fff;'>
            <div id="mainContainer">
                <div id="mainContainerRepleace">

                    <!--话题简介区域-->
                    <div class="card mb-4" style="height: 150px;">
                        <div class="card-block" style="height: 150px;">
                            <div class="card-title answer-meta">
                                <div class="topicImg" style="float:left; width:140px; height:140px;">
                                    <span>
                                        <img th:src="${topic.topicImage}" width="100%" height="100%"
                                             style="max-width: 100%;max-height: 100%;"/>
                                    </span>
                                </div>
                                <div style="margin-left: 155px;position: relative;height: 138px;">
                                    <span>
                                        <h3 class="card-link" th:text="${topic.topicName}"/>
                                    </span>

                                    <p th:if="${topic.topicSimpleDesc == null}">
                                        <span th:utext="暂无描述"/>
                                    </p>
                                    <p th:if="${#strings.length(topic.topicSimpleDesc) gt 130}">
                                        <span th:utext="${#strings.substring(topic.topicSimpleDesc,0,130)} + '...查看详情'"/>
                                    </p>
                                    <p th:if="${#strings.length(topic.topicSimpleDesc) lt 130}">
                                        <span th:utext="${topic.topicSimpleDesc}"/>
                                    </p>


                                    <div style="font-size: larger;margin-top: 37px;position: absolute;bottom: 0;">

                                        <span th:id="'no-' + ${topic.topicId}" th:if="${userFollowTopic == 0}"
                                              class="icon-rss focusTopic"
                                              style="cursor: pointer"
                                              data-id="${topic.topicId}"
                                              th:text="关注话题"/>

                                        <span th:id="'yes-' + ${topic.topicId}" th:if="${userFollowTopic == 1}"
                                              class="icon-rss focusTopic"
                                              style="cursor: pointer"
                                              data-id="${topic.topicId}"
                                              th:text="取消关注"/>

                                        <!--<i class="icon-rss"/></span>&nbsp;-->
                                        <span class="icon-bell" id="notifyMe"
                                              style="cursor: pointer"
                                              th:text="通知我"/>&nbsp;

                                        <span class="shareTopicIcon" style="cursor: pointer;margin-left: 315px;"
                                              title="分享话题">
                                            <i class="fa fa-share-alt" aria-hidden="true"/></span>
                                        <ul class="share-list hideShareItem" style="position: absolute;right: 0;">
                                            <a th:href="@{/#}"><img th:src="@{/images/share-wechat.jpg}" height="30px"
                                                                    width="30px"/></a>
                                            <a th:href="@{/#}"><img th:src="@{/images/share-weibo.jpg}" height="30px"
                                                                    width="30px"/></a>
                                            <a th:href="@{/#}"><img th:src="@{/images/share-zhihu.jpg}" height="30px"
                                                                    width="30px"/></a>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a
                                    th:href="@{'/topic/' + ${topic.topicId} + '/introduction'}">介绍</a></li>
                            <li role="presentation"><a
                                    th:href="@{'/topic/' + ${topic.topicId} + '/question'}">相关问题</a></li>
                            <li role="presentation"><a
                                    th:href="@{'/topic/' + ${topic.topicId} + '/answer'}">优秀回答</a></li>
                            <li role="presentation"><a th:href="@{'/topic/' + ${topic.topicId} + '/users'}">热门用户</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card mmb-4">
                        <div class="card-block">
                            <div>
                                <div style="display: inline-block;">
                                    <h4 style="font-weight: bold">
                                        <p th:text="介绍"/>
                                    </h4>
                                </div>
                                <div style="display: inline-block;margin-left: 532px;">
                                    <p class="exchange-en-zh-edition">切换英文介绍</p>
                                </div>
                            </div>
                            <p th:if="${topic.topicSimpleDesc == null}">
                                <div class="zh-edition" th:utext="暂无描述" style="display: block;"/>
                            </p>

                            <p th:if="${topic.topicSimpleDesc != null}">
                            <div class="zh-edition" th:utext="${topic.topicFullDesc}" style="display: block;"/>
                            <div class="en-edition" th:utext="${topic.topicFullDescEn}" style="display: none;"/>
                            </p>
                            <hr/>
                            <h4 class="text-title">
                                <p class="card-text text-dark" th:text="详细信息"/>
                            </h4>
                            <div><p style="text-align: center;">暂无详细信息</p></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 右侧栏目 -->
        <div th:include="topic/sideTopicCards :: sideCards"></div>

    </div>
</div>

<!--<script>-->

<!--</script>-->

<script src="https://code.jquery.com/jquery-latest.js"></script>


<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script type="text/javascript" src="/js/questionDetail.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/notify.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/topic.js"></script>
<script type="text/javascript" src="/js/askFrame.js"></script>
<script type="text/javascript" src="/js/quill.js"></script>
<script type="text/javascript" src="/js/loginReg.js"></script>

<!--<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->

<script src="/js/summernote.js"></script>

</body>
</html>

